<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nospam.japan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SOS Japan Pro</name>
    <description>نظام حماية وحظر المكالمات المزعجة</description>
    <author email="dev@koodi.cloud">Zakaria Mater</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        
        <!-- تعريف خدمة الحظر التلقائي (Screening Service) لتعمل مثل تروكولر -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.nospam.japan.CallBlockerService"
                     android:permission="android.permission.BIND_SCREENING_SERVICE"
                     android:exported="true">
                <intent-filter>
                    <action android:name="android.telecom.CallScreeningService" />
                </intent-filter>
            </service>
            <service android:name="com.nospam.japan.CallRedirectionServiceImpl"
         android:permission="android.permission.BIND_CALL_REDIRECTION_SERVICE"
         android:exported="true">
    <intent-filter>
        <action android:name="android.telecom.CallRedirectionService" />
    </intent-filter>
</service>
        </config-file>

        <!-- حقن الأذونات المطلوبة في ملف AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
            <uses-permission android:name="android.permission.BIND_CALL_REDIRECTION_SERVICE" />
<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
            <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
    </platform>

    <!-- قائمة الإضافات (Plugins) -->
    <plugin name="cordova-plugin-android-permissions" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-sqlite-storage" />
    <plugin name="cordova-plugin-local-notification" />
    <plugin name="com-darryncampbell-cordova-plugin-intent" />
    <plugin name="cordova-plugin-calllog" />
</widget>
