<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nospam.japan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SOS Japan Pro</name>
    <description>Call Protection App</description>
    <author email="dev@koodi.cloud">Zakaria Mater</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.nospam.japan.MyCallScreeningService"
                     android:permission="android.permission.BIND_SCREENING_SERVICE"
                     android:exported="true">
                <intent-filter>
                    <action android:name="android.telecom.CallScreeningService" />
                </intent-filter>
            </service>
        </config-file>
    </platform>

    <plugin name="cordova-plugin-android-permissions" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-sqlite-storage" />
    <plugin name="cordova-plugin-local-notification" />
    <plugin name="com-darryncampbell-cordova-plugin-intent" />
</widget>
